/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

* {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
}

h1 {
  color: #1E212C;
  font-size: 46px;
  font-weight: 700;
  line-height: 130%;
}

h2 {
  color: #1E212C;
  font-size: 32px;
  font-weight: 700;
  line-height: 150%;
}

h3 {
  color: #1E212C;
  font-size: 28px;
  font-weight: 700;
  line-height: 150%;
}

h4 {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  line-height: 150%;
}

h6 {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  /* 24px */
  letter-spacing: 1px;
  text-transform: uppercase;
}

header,
section,
footer {
  padding: 0 calc(50% - 615px);
}

.display1 {
  color: #fff;
  font-size: 72px;
  font-weight: 700;
  line-height: 130%;
  /* 93.6px */
  letter-spacing: 1px;
}

.small-bold {
  color: #424551;
  font-size: 14px;
  font-weight: 700;
  line-height: 150%;
}

/* lead type of font */
.lead-bold {
  color: #1E212C;
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
}

.lead-regular {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
}

/* regular type of font */
.large-regular {
  color: #787A80;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}

.small-regular {
  color: #424551;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

.extrasmall-regular {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
}

/* base type of font */
.base-bold {
  color: #1E212C;
  font-size: 16px;
  font-weight: 700;
  line-height: 160%;
}

.base-regular {
  color: #787A80;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
}

.breadcrumps {
  display: flex;
  -moz-column-gap: 8px;
       column-gap: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}
.breadcrumps a {
  color: #424551;
}
.breadcrumps a:hover {
  text-decoration-line: underline;
}
.breadcrumps li:last-child {
  color: #9A9CA5 !important;
}

.button-red,
.button-white {
  border-radius: 4px;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.button-red {
  color: #fff;
  background: #FF5A30;
  transition: ease-in-out 0.9s;
}
.button-red:hover {
  background: #FC3300;
}
.button-red * {
  color: #fff;
}

.button-white {
  border: 1px solid #FF5A30;
  color: #FF5A30;
  background: #fff;
}

.idleOutlineButton {
  font-size: 14px;
  font-weight: 700;
  line-height: 44px;
  /* 314.286% */
  letter-spacing: 0.5px;
  width: 230px;
  height: 44px;
  border-radius: 4px;
  border: 1px solid #FF5A30;
  background-color: #fff;
  color: #FF5A30;
  transition: ease-in-out 0.9s;
}
.idleOutlineButton:hover {
  background-color: #FF5A30;
  color: #fff;
}
.idleOutlineButton:hover * {
  color: #fff;
}
.idleOutlineButton * {
  font-size: 14px;
  font-weight: 700;
  line-height: 44px;
  /* 314.286% */
  letter-spacing: 0.5px;
  color: #FF5A30;
}

.outline-large {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 278px;
  height: 52px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 52px;
  /* 325% */
  letter-spacing: 0.5px;
  text-transform: uppercase;
  border-radius: 4px;
  border: 1px solid #fff;
  text-transform: uppercase;
}

.large-btn {
  font-size: 16px;
  line-height: 52px;
  width: 390px;
  height: 52px;
}
.large-btn.home {
  width: 224px;
}

.regular-btn {
  font-size: 14px;
  line-height: 44px;
  width: 198px;
  height: 44px;
}

.small-btn {
  font-size: 12px;
  line-height: 36px;
  width: 147px;
  height: 36px;
  text-transform: uppercase;
}

.dark-input {
  color: #fff;
  opacity: 0.6;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.12);
  padding: 12px 16px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  border-radius: 4px;
}
.dark-input:focus {
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.06);
  opacity: 0.9;
}

.form-default-input {
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid #D7DADD;
  background: #F4F5F6;
  color: #787A80;
}
.form-default-input::-moz-placeholder {
  color: #9A9CA5;
}
.form-default-input::placeholder {
  color: #9A9CA5;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 22px;
  padding-bottom: 22px;
}
.header.transparent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.header-nav {
  display: flex;
  -moz-column-gap: 60px;
       column-gap: 60px;
  align-items: center;
}

.header-nav__list {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
  align-items: center;
}

.header-info .large-regular {
  color: #1E212C;
}

.header-info {
  display: flex;
  -moz-column-gap: 36px;
       column-gap: 36px;
}

.header-info__text {
  display: flex;
}
.header-info__text::before {
  content: "";
  margin-right: 14px;
}
.header-info__text:first-child::before {
  content: url("../assets/icons/phoneIco.svg");
}
.header-info__text:last-child::before {
  content: url("../assets/icons/chatIco.svg");
}

.footer {
  background-color: #1E212C;
  padding-top: 80px;
  padding-bottom: 80px;
}

.footer-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 49px;
}

.footer-header__info__img-container {
  display: flex;
  -moz-column-gap: 60px;
       column-gap: 60px;
  margin-bottom: 24px;
}
.footer-header__info__img-container ul {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
}

.footer-header__form-title {
  margin-bottom: 24px;
}

.footer-header__form-form {
  margin-bottom: 16px;
}
.footer-header__form-form .dark-input {
  width: 364px;
  height: 44px;
  border-radius: 4px 0 0 4px;
}
.footer-header__form-form .button-red {
  position: relative;
  left: -8px;
  width: 131px;
  height: 44px;
  border-radius: 0 4px 4px 0;
}

.footer-header__info-text {
  color: #fff;
  max-width: 493px;
  opacity: 0.6;
}

.footer-header__form-text {
  max-width: 495px;
  opacity: 0.6;
}

.footer-content {
  display: flex;
  -moz-column-gap: 125px;
       column-gap: 125px;
  margin-bottom: 38px;
}

.footer-content__section:first-child li {
  color: #fff;
}
.footer-content__section:first-child span {
  opacity: 0.6;
}
.footer-content__section h6 {
  margin-bottom: 13px;
}
.footer-content__section ul {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}
.footer-content__section a {
  color: #fff;
  opacity: 0.6;
}

.footer-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-footer__button {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
  align-items: flex-end;
  position: relative;
  top: -10px;
}
.footer-footer__button p {
  color: #fff;
}
.footer-footer__button a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #FF5A30;
  border-radius: 4px;
}

.slider1 {
  overflow: hidden;
  position: relative;
}

.slider1__prev-btn {
  position: absolute;
  top: 50%;
  left: 44px;
  transform: translate(0, -100%);
  background-color: rgba(255, 255, 255, 0.5);
  padding: 12px;
  border-radius: 100%;
  transition: all 0.6s;
}
.slider1__prev-btn:hover {
  background-color: rgb(255, 255, 255);
}

.slider1__next-btn {
  position: absolute;
  top: 50%;
  right: 44px;
  transform: translate(0, -100%);
  background-color: rgba(255, 255, 255, 0.5);
  padding: 12px;
  border-radius: 100%;
  transition: all 0.6s;
}
.slider1__next-btn:hover {
  background-color: rgb(255, 255, 255);
}

.slider1-line {
  display: flex;
  position: relative;
  width: 400vw;
  left: 0;
  transition: all 1s;
}

.slider1-line section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  background-image: url("../assets/pages/homepage/firstSliderBG.jpg");
  padding: 0 345px;
  width: 1920px;
  height: 988px;
  background-repeat: no-repeat;
  background-position: center;
}

.slider1-title {
  max-width: 577px;
}
.slider1-title span {
  color: #FF5A30;
  font-size: 72px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 1px;
}

.slider1-text {
  margin: 24px 0 61px;
  max-width: 595px;
}

.slider1-buttons {
  display: flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
}

.slider1__pages-viewer {
  display: flex;
  -moz-column-gap: 5px;
       column-gap: 5px;
  position: absolute;
  bottom: 120px;
}
.slider1__pages-viewer h3 {
  opacity: 0.3;
  color: #fff;
}
.slider1__pages-viewer h3 .active {
  opacity: 1 !important;
}
.slider1__pages-viewer h3::after {
  content: "";
  display: block;
  background-color: #fff;
  height: 2px;
  width: 178px;
  margin-top: 12px;
}

.video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video-title {
  margin-top: 120px;
}

.video-text {
  margin: 24px 0 60px;
}

.video__video-link {
  position: relative;
  display: block;
}
.video__video-link::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #1E212C;
  opacity: 0.6;
  transition: 0.6s;
}
.video__video-link:hover::after {
  opacity: 0.4;
}
.video__video-link::before {
  content: url("../assets/icons/largePlayBtnIco.svg");
  position: absolute;
  left: 50%;
  top: 50%;
  transition: 0.6s;
  transform: translate(-50%, -50%);
  display: block;
  z-index: 2;
}
.video__video-link:hover::before {
  transform: translate(-50%, -50%) scale(150%);
}

.ourCoreValues {
  min-height: 810px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.ourCoreValues-text {
  margin: 24px 0 60px;
}

.ourCoreValues__list {
  display: flex;
}

.ourCoreValues__list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 94px;
}
.ourCoreValues__list-item:nth-child(2) {
  position: relative;
}
.ourCoreValues__list-item:nth-child(2)::after {
  content: "";
  display: block;
  position: absolute;
  right: 100%;
  height: 100%;
  width: 1px;
  background: linear-gradient(270deg, rgba(218, 219, 221, 0) 0%, rgba(218, 219, 221, 0.5) 12.33%, #DADBDD 51.91%, rgba(218, 219, 221, 0.5) 87.85%, rgba(218, 219, 221, 0) 100%);
}
.ourCoreValues__list-item:nth-child(2)::before {
  content: "";
  display: block;
  position: absolute;
  left: 100%;
  height: 100%;
  width: 1px;
  background: linear-gradient(270deg, rgba(218, 219, 221, 0) 0%, rgba(218, 219, 221, 0.5) 12.33%, #DADBDD 51.91%, rgba(218, 219, 221, 0.5) 87.85%, rgba(218, 219, 221, 0) 100%);
}

.ourCoreValues__list-item__title {
  margin: 24px 0 8px;
}

.ourCoreValues__list-item__text {
  width: 285px;
  text-align: center;
}

.ourCoreValues__cta {
  position: absolute;
  background-color: transparent;
  bottom: -90px;
}

.ourCoreValues__cta-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 60px;
  background-color: #fff;
  box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
}

.ourCoreValues__cta-title {
  margin-bottom: 32px;
}

.ourCoreValues__cta-form {
  display: flex;
  align-items: flex-end;
  -moz-column-gap: 24px;
       column-gap: 24px;
}

.ourCoreValues__cta-form__input {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  width: 260px;
}
.ourCoreValues__cta-form__input:nth-child(3) {
  width: 414px;
}

.ourCoreValues__cta-form__btn {
  width: 104px;
  height: 52px;
}

.ourServices {
  background-image: url("../assets/pages/homepage/OurCoreValues/bg-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 212px;
}

.ourServices-text {
  margin: 24px 0 60px;
}

.ourServices__list {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.ourServices__list-item {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: center;
  align-items: center;
  width: 285px;
  height: 285px;
  background-image: url("");
  background-size: cover;
  background-position: center;
  border-radius: 4px;
  border: 1px solid #E5E8ED;
  box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
  transition: 0.7s;
}
.ourServices__list-item:hover {
  color: #fff;
}
.ourServices__list-item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 1;
  left: 0;
  bottom: 0;
  background-color: #fff;
  transition: 0.7s;
  z-index: 1;
}
.ourServices__list-item:hover::after {
  background-color: #1E212C;
  opacity: 0.3;
}
.ourServices__list-item::before {
  z-index: 3;
  content: url("");
  transition: 0.7s;
}
.ourServices__list-item:hover::before {
  content: url("");
}

.ourServices__list-item:nth-child(1) {
  background-image: url("../assets/pages/homepage/OurCoreValues/constructionBG.jpg");
}
.ourServices__list-item:nth-child(1)::before {
  content: url("../assets/icons/additional/redConstructionIco.svg");
}
.ourServices__list-item:nth-child(1):hover::before {
  content: url("../assets/icons/additional/whiteConstructionIco.svg");
}

.ourServices__list-item:nth-child(2) {
  background-image: url("../assets/pages/homepage/OurCoreValues/projectDevelopmentBG.jpg");
}
.ourServices__list-item:nth-child(2)::before {
  content: url("../assets/icons/additional/redPlanIco.svg");
}
.ourServices__list-item:nth-child(2):hover::before {
  content: url("../assets/icons/additional/whitePlanIco.svg");
}

.ourServices__list-item:nth-child(3) {
  background-image: url("../assets/pages/homepage/OurCoreValues/interiorDefignBG.jpg");
}
.ourServices__list-item:nth-child(3)::before {
  content: url("../assets/icons/additional/redPantoneIco.svg");
}
.ourServices__list-item:nth-child(3):hover::before {
  content: url("../assets/icons/additional/whitePantoneIco.svg");
}

.ourServices__list-item:nth-child(4) {
  background-image: url("../assets/pages/homepage/OurCoreValues/repairsBG.jpg");
}
.ourServices__list-item:nth-child(4)::before {
  content: url("../assets/icons/additional/redPaintingIco.svg");
}
.ourServices__list-item:nth-child(4):hover::before {
  content: url("../assets/icons/additional/whitePantoneIco.svg");
}

.ourServices__list-item__text {
  position: relative;
  color: inherit;
  z-index: 3;
}

.ourServices__footer {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
  align-items: center;
  justify-content: center;
  margin: 85px 0;
}

.slider2 {
  padding-top: 120px;
}

.slider2-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 60px;
}
.slider2-header h1 {
  max-width: 705px;
}

.slider2-header__buttons {
  display: flex;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
.slider2-header__buttons button:last-child {
  padding: 12px;
  border-radius: 100%;
  background-color: #FF5A30;
}

.slider2-line {
  overflow: hidden;
  padding-bottom: 125px;
}

.slider2-line-line {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  width: 3750px;
  position: relative;
  left: 0;
  transition: 1s;
}

.slider2-line__item {
  width: 390px;
  border-radius: 4px;
  height: 440px;
  background: #fff;
  position: relative;
  overflow-y: hidden;
  /* shadow/small */
  box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
}

.slider2-line__item-content {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

.slider2-line__item-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 8px;
  margin: 16px 0 24px;
  background-color: #fff;
}

.slider2-line__item-button {
  height: 0px;
  display: flex;
  transition: all 1s;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.slider2-line__item-button button {
  margin-bottom: 24px;
  display: block;
}

.slider2-line__footer {
  -moz-column-gap: 40px;
       column-gap: 40px;
  margin: 85px 0 125px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.supportedBy {
  background-color: #F4F5F6;
  padding-top: 80px;
}

.supportedBy__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.supportedBy__header--img-container {
  display: flex;
  margin-top: 50px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 150px;
}

.supportedBy__content {
  display: flex;
  position: relative;
  -moz-column-gap: 135px;
       column-gap: 135px;
}

.supportedBy__content-img {
  position: absolute;
  right: 0;
  top: 0;
}

.slider3 {
  position: relative;
  margin-bottom: 120px;
}

.slider3-title {
  margin-bottom: 60px;
}

.slider3-line__wrapper {
  overflow: hidden;
  width: 600px;
}

.slider3-line {
  display: flex;
  width: 1820px;
  transition: 1s;
  position: relative;
  left: 0;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.slider3-line__item {
  display: block;
  width: 600px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 24px;
  background-color: transparent;
}

.slider3-btns {
  position: absolute;
  right: 0;
  transform: translate(0, -100%);
}

.someFacts {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
  align-items: center;
  justify-content: center;
  margin: 180px 0;
}

.someFacts__list {
  display: flex;
  -moz-column-gap: 48px;
       column-gap: 48px;
}

.someFacts__list-item {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
  justify-content: center;
}

.recentNews {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 65px;
}

.recentNews__container {
  display: grid;
  -moz-column-gap: 30px;
       column-gap: 30px;
  grid-template-columns: 57% 43%;
}

.recentNews__news {
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
}
.recentNews__news .recentNews__news-text__title {
  transition: 0.4s;
}

.recentNews__container {
  margin-bottom: 85px;
}

.recentNews__news-text {
  padding: 24px;
}
.recentNews__news-text .base-regular {
  color: #424551;
}
.recentNews__news-text div {
  display: flex;
  margin: 12px 0 16px;
}
.recentNews__news-text div .small-regular {
  display: flex;
  align-items: center;
  color: #787A80;
  margin: 0 12px;
  position: relative;
}
.recentNews__news-text div .small-regular::after {
  content: "";
  position: absolute;
  right: -12px;
  width: 1px;
  height: 12px;
  background-color: #787A80;
}
.recentNews__news-text div .small-regular:nth-child(1) {
  margin-left: 0;
}
.recentNews__news-text div .small-regular:nth-child(3) {
  margin-right: 0;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
.recentNews__news-text div .small-regular:nth-child(3)::after {
  content: none;
}

.recentNews__news-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.recentNews__news-wrapper .recentNews__news {
  max-width: 495px;
  max-height: 255px;
}

.recentNews-footer {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
  align-items: center;
  margin-bottom: 125px;
}

.services__header {
  position: relative;
  width: 100%;
  display: flex;
  background-color: #F4F5F6;
}
.services__header::after {
  content: url("../assets/pages/servicespage/headerBgImg.png");
  position: absolute;
  top: 0;
  right: 0;
}

.services__header-wrapper {
  margin: 152px 0 179px;
}

.services__header-title {
  color: inherit;
  margin: 40px 0 24px;
}

.services__header-text {
  max-width: 600px;
  color: #787A80;
}

.services__list {
  display: flex;
  flex-direction: column;
  row-gap: 120px;
  margin-bottom: 120px;
}

.services__list-item {
  display: flex;
  -moz-column-gap: 80px;
       column-gap: 80px;
}

.services__list-item__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.services__list-item__content-text {
  margin: 24px 0 48px;
}

.service__header {
  position: relative;
  padding-top: 152px;
  background-color: #F4F5F6;
  overflow: hidden;
}
.service__header .lead-regular {
  color: #787A80;
  max-width: 600px;
  padding-bottom: 115px;
}
.service__header::after {
  content: url("../assets/pages/servicepage/headerBgImg.png");
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.service__header-title {
  margin: 40px 0 24px;
  color: inherit;
}

.weOffer {
  display: flex;
  -moz-column-gap: 105px;
       column-gap: 105px;
  padding-top: 120px;
  margin-bottom: 180px;
}

.weOffer__content-title {
  margin-bottom: 60px;
}

.weOffer__content__sub-title {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  align-items: flex-start;
  justify-content: center;
}
.weOffer__content__sub-title::before {
  content: url("../assets/icons/mathSigns/redMinusIco.svg");
}
.weOffer__content__sub-title:last-child::before {
  content: url("../assets/icons/mathSigns/redPlusIco.png");
}

.weOffer__content-text {
  max-width: 376px;
  margin: 12px 0 24px;
}

.thatsHowWeDoIt-list {
  margin: 60px 0 120px;
  display: flex;
  justify-content: space-between;
}

.thatsHowWeDoIt-list__item-header {
  display: flex;
  -moz-column-gap: 23px;
       column-gap: 23px;
  position: relative;
}

.thatsHowWeDoIt-list__item-header__title {
  color: #D7DADD;
  z-index: 2;
  transition: color 0.7s;
}

.thatsHowWeDoIt-list__item-header__title-img {
  position: absolute;
  width: 116px;
  height: 116px;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 0.6s;
  transform: translate(-29%, -25%);
  z-index: 1;
}

.thatsHowWeDoIt-list__item-content {
  margin-top: 16px;
}

.thatsHowWeDoIt-list__item-content__text {
  max-width: 285px;
  margin-top: 8px;
}

.ourBenefits {
  text-align: center;
  background-color: #1E212C;
  padding-top: 80px;
  padding-bottom: 126px;
  position: relative;
}
.ourBenefits h1 {
  color: #fff;
}
.ourBenefits .base-regular {
  color: #fff;
  opacity: 0.6;
}
.ourBenefits .lead-bold {
  color: #fff;
}

.ourBenefits-text {
  margin: 24px 0 60px;
}

.ourBenefits__list {
  display: flex;
}

.ourBenefits__list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 94px;
  position: relative;
}
.ourBenefits__list-item:first-child {
  padding-left: 0;
}
.ourBenefits__list-item::after {
  content: url("../assets/divider.png");
  position: absolute;
  height: 100%;
  top: 0;
  right: 0%;
}
.ourBenefits__list-item p {
  max-width: 285px;
}
.ourBenefits__list-item:last-child {
  padding-right: 0;
}
.ourBenefits__list-item:last-child::after {
  content: none;
}

.ourBenefits__list-item__title {
  margin: 24px 0 8px;
}

.ourBenefits-btn {
  position: absolute;
  bottom: -26px;
  left: 50%;
  transform: translate(-50%);
}

.slider4 {
  padding-top: 120px;
}

.slider4-line {
  overflow: hidden;
  padding-bottom: 125px;
}

.slider4-line-line {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  width: 3750px;
  position: relative;
  left: 0;
  transition: 1s;
}

.slider4-line__item {
  width: 390px;
  border-radius: 4px;
  height: 440px;
  background: #fff;
  position: relative;
  overflow-y: hidden;
  /* shadow/small */
  box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
}

.slider4-line__item-content {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

.slider4-line__item-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 8px;
  margin: 16px 0 24px;
  background-color: #fff;
}

.slider4-line__item-button {
  height: 0px;
  display: flex;
  transition: all 1s;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.slider4-line__item-button button {
  margin-bottom: 24px;
  display: block;
}

.slider4__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 60px;
}
.slider4__header div {
  display: flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
}

.slider4-footer {
  display: flex;
  justify-content: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
  margin-bottom: 64px;
}

.pricing {
  text-align: center;
  background-color: #F4F5F6;
}

.pricing-text {
  margin: 24px 0 60px;
}

.pricing__table {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #E5E8ED;
  background: #fff;
  box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
}
.pricing__table tr {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: 1fr;
  grid-template-columns: 39.8% 1fr 1fr 1fr;
  padding: 18px 0 18px 24px;
}
.pricing__table tr:nth-child(1) {
  padding: 24px 0 24px 24px;
}
.pricing__table tr:last-child {
  padding: 24px 0 24px 24px;
}
.pricing__table tr:nth-child(even) {
  background: #F4F5F6;
}
.pricing__table td {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pricing__table th {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pricing__table th:nth-child(1) {
  justify-content: flex-start;
  align-items: flex-end;
  height: 100%;
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
}
.pricing__table th:nth-child(1) p {
  color: #1E212C;
}
.pricing__table th p {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  text-align: center;
  color: #787A80;
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
}
.pricing__table th p span {
  color: #1E212C;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 150%;
}

.workPage-header {
  padding-top: 152px;
  padding-bottom: 179px;
  background-color: #F4F5F6;
  position: relative;
}
.workPage-header::after {
  content: url("../assets/pages/workpage/headerBgImg.png");
  position: absolute;
  right: 0;
  top: 0;
}
.workPage-header .display1 {
  color: inherit;
  margin: 40px 0 24px;
}
.workPage-header .lead-regular {
  color: #787A80;
  max-width: 600px;
}

.ourWork__categories-list {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -60px;
  margin-bottom: 120px;
}

.ourWork__categories-list__item {
  position: relative;
  padding: 32px 10px;
  cursor: pointer;
  width: 230px;
  display: flex;
  row-gap: 16px;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  background: #fff;
  transition: all 0.4s;
  /* shadow/small */
  box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
}
.ourWork__categories-list__item.active {
  color: #fff;
  border-radius: 4px;
  background: #FF5A30;
  box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.05), 0px 12px 10px -6px rgba(255, 90, 48, 0.08), 0px 26px 24px -10px rgba(255, 90, 48, 0.1), 0px 60px 80px -20px rgba(255, 90, 48, 0.16);
}
.ourWork__categories-list__item.active::before {
  content: url("");
}
.ourWork__categories-list__item::before {
  content: url("");
}
.ourWork__categories-list__item:nth-child(1).active::before {
  content: url("../assets/icons/additional/whiteHouseIco.svg");
}
.ourWork__categories-list__item:nth-child(1)::before {
  content: url("../assets/icons/additional/redHouseIco.svg");
}
.ourWork__categories-list__item:nth-child(2).active::before {
  content: url("../assets/icons/additional/whiteConstructionIco.svg");
}
.ourWork__categories-list__item:nth-child(2)::before {
  content: url("../assets/icons/additional/redConstructionIco.svg");
}
.ourWork__categories-list__item:nth-child(3).active::before {
  content: url("../assets/icons/additional/whitePantoneIco.svg");
}
.ourWork__categories-list__item:nth-child(3)::before {
  content: url("../assets/icons/additional/redPlanIco.svg");
}
.ourWork__categories-list__item:nth-child(4).active::before {
  content: url("../assets/icons/additional/whitePantoneIco.svg");
}
.ourWork__categories-list__item:nth-child(4)::before {
  content: url("../assets/icons/additional/redPantoneIco.svg");
}
.ourWork__categories-list__item:nth-child(5).active::before {
  content: url("../assets/icons/additional/whitePaintingIco.svg");
}
.ourWork__categories-list__item:nth-child(5)::before {
  content: url("../assets/icons/additional/redPaintingIco.svg");
}

.ourWork__projects-item {
  width: 390px;
  border-radius: 4px;
  height: 440px;
  background: #fff;
  position: relative;
  overflow-y: hidden;
  /* shadow/small */
  box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
}

.ourWork__projects-item-content {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

.ourWork__projects-item-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 8px;
  margin: 16px 0 24px;
  background-color: #fff;
}

.ourWork__projects-item-button {
  height: 0px;
  display: flex;
  transition: all 1s;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.ourWork__projects-item-button button {
  margin-bottom: 24px;
  display: block;
}

.ourWork__projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 100px;
}

.ourClients {
  padding-top: 180px;
}

.ourClients__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ourClients__header--img-container {
  display: flex;
  margin-top: 50px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 150px;
}/*# sourceMappingURL=main.css.map */